<h1>Editing downloadlink2</h1>

<% form_for(@downloadlink2) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :downloadlink %><br />
    <%= f.text_field :downloadlink %>
  </p>
  <p>
    <%= f.label :isvalid %><br />
    <%= f.check_box :isvalid %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @downloadlink2 %> |
<%= link_to 'Back', downloadlink2s_path %>