<p>
  <b>Description:</b>
  <%=h @downloadlink2.description %>
</p>

<p>
  <b>Downloadlink:</b>
  <%=h @downloadlink2.downloadlink %>
</p>

<p>
  <b>Isvalid:</b>
  <%=h @downloadlink2.isvalid %>
</p>


<%= link_to 'Edit', edit_downloadlink2_path(@downloadlink2) %> |
<%= link_to 'Back', downloadlink2s_path %>